---
import Section from "@components/Section.astro";

import { skills } from "@cv";
---

<Section title="Skills">
  <ul>
    {skills.map(({ name }) => <li>{name}</li>)}
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  li {
    border-radius: 8px;
    background-color: #eee;
    color: #000;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.2rem 0.8rem;
  }
</style>
